body{
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

.nav-bar{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}


.card {
    background-image: url(img/laptop.jpg);
    background-size: cover;
    height: 400px;
    position: relative;
    text-align: center;
    /* opacity: 0.6;
    filter: alpha(opacity=40); */
}

.card .row {
    margin-top: 50px;
}

.card-title, .card-text {
    text-shadow: 1px 1px 1px black;
}

.jumbotron{
    background-image: url(img/laptop.jpg);
    background-size: cover;
    height: 220px;
    position: relative;
    text-align: center;
    opacity: 1;
}

.card .container .atas{
    margin-top: 200px;
    z-index: 0.9;
    position: relative;
}

/* .card::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0,0,0, 1), rgba(0,0,0,0));
} */


.judul{
    color: white;
    font-weight: bold;
    margin: 300px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
}

.underline{
    text-decoration: underline;
}

/* .jumbotron::after{
    margin-left: -12px;
    padding: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0, 0.5), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
} */

.card .btn{
    width: 110px;
}

.satu {
    background-color: #cfcfcf;

}

.dua{
    background-color: #bdbdbd;
}

.garis_atas{
    margin-right: 30px;
    margin-bottom: 10px;
    border-top: solid #9e9e9e;
    width: 50%;
}

.biru{
    color: #0064b7;
}

.row .bawah{
    margin: 30px;
    margin-bottom: 70px;
    width: 90px;  /* panjang button, jangan diubah */
}





/* Desktop Version */
/* Large devices (desktops, 992px and up) */

@media(min-width: 992px){
    .navbar-brand, .nav-link{
        font-weight: bold;
    }

    .card{
        height: 350px;
    }

    .card-title, .card-text {
        text-shadow: 1px 1px 1px black;
        font-size: 32px;
    }

    .card .row {
        margin-top: 70px;
        padding-left: 150px;
        padding-right: 150px;
    }

    .garis_atas{
        margin-top: 80px;
        margin-bottom: 10px;
        border-top: solid #9e9e9e;
        width: 40%;
    }

    .row .bawah{
        margin: 20px;
        width: 90px; 
    }

    .card .img_bawah{
        height: 200px;
    }

    .jumbotron{
        background-image: url(img/laptop.jpg);
        background-size: cover;
        margin-top: -50px;
        padding-bottom: 60px;
        height: 160px;
        position: relative;
        text-align: center;
    }
    
}